<div class="d-flex justify-content-center">
    <div class="input-group border border-dark rounded">
        <i class="bi bi-search"></i>
        <input type="text" class="form-control border-0" list="style-options"
            placeholder="Search fashions by style name" (input)="onSearchChange($event)">
        <datalist id="style-options">
            <ng-container *ngFor="let style of styleOptions">
                <option [value]="style.name | uppercase"></option>
            </ng-container>
        </datalist>
        <button class="btn btn-dark px-4">Search</button>
    </div>
</div>
<div>
    <div class="container" *ngFor="let style of fashionsGroupByStyle">
        <ng-container *ngIf="style.fashions.length">
            <hr>
            <h2>
                {{style.name | uppercase}}
            </h2>
            <hr>
            <div class="row row-cols-4">
                <div class="col" *ngFor="let fashion of style.fashions">
                    <a [routerLink]="['/exercise-133/client', fashion.id]">
                        <img [src]="fashion.thumbnail" alt="Thumbnail">
                        <p>
                            {{fashion.title}}
                        </p>
                    </a>
                </div>
            </div>
        </ng-container>
    </div>
</div>